extends layoutUsers
body 
  block content
  
    .BarraSup
      .navbar.navbar-dark.bg-dark
        .title
            h2 cochlear
        .btn-group(role='group', aria-label='Basic example')
          button.btn.btn-secondary(type='button', data-toggle='modal', data-target='#exampleModalCenter1') Nueva Pregunta
          button.btn.btn-secondary(type='button', onclick="location.href='/users/logout';") Cerrar sesion
    .contentAdmin
      .cont_inf
        table.table.table-dark.table-hover
          thead
            tr
              th(scope='col') PREGUNTA_ID
              th(scope='col') RUTA SONIDO
              th(scope='col') Descargar
              th(scope='col') RUTA IMG
              th(scope='col') Descargar
               
          tbody
            each value, index in preguntas
              tr
                td #{value._id}
                td #{value.idSonido.ruta}
                td 
                  a(href='#{value.idSonido.ruta}', download="#{value.idSonido.ruta}") Descargar Sonido
                td #{value.idSonido.rutaImg }
                td
                  a(href='#{value.idSonido.rutaImg}', download="#{value.idSonido.rutaImg}") Descargar Img
                
    #exampleModalCenter1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
          .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
              .modal-header
                
                h5#exampleModalCenterTitle.modal-title Subir Archivos
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &times;
              .modal-body
                  h2 Subir archivos
                  form#fileinput(ref='input', action='/api/preguntas/', method='post', enctype='multipart/form-data')
                    input(type="text", name = 'nivel' required = 'true')
                    p SOUND
                    input(type='file', name='input' required = 'true')
                    p IMG
                    input(type='file', name='input2' required = 'true')
                    input(type='submit', value='Upload!')         

